@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.button{
  width: 30%;
  background-color: #707070;
  border: solid;
  border-width: 2px;
  color: #ffffff;
  padding: 5px 5px;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 12px;
  border-radius: 50px; 
  cursor: pointer;
  outline: none;
  transition: all .5s ease-out;
}
  
.button:hover{
  background-color: #ffffff;
  color: #707070;
  border-color: #707070;
}
  
.h11{
  font-family: Karla;
    text-align: center;
}
  
.justify-content{
  display: flex;
  justify-content: center;
}

#keywordbtn{
  text-align: center;
}